.row{
    display: flex;
}
.mr-5p{
    margin-right: 5%;
}
.ml-5p{
    margin-left: 5%;
}
.m-3{
    margin: 1.5rem;
}
.col-6{
    width: 40%;
}
.col-12{
    width: 100%;
}
.links_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background-color: white;
    overflow: auto;
}

.links_footer a:link {
    color: green;
}
/* visited link */
.links_footer a:visited {
    color: green;
}
  
/* mouse over link */
.links_footer a:hover {
    color: red;
}
/* selected link */
.links_footer a:active {
    color: yellow;
}